In [1]:
import numpy as np
import pandas as pd

In [2]:
df = pd.read_csv('mlbootcamp5_train.csv', sep=';', 
                 index_col='id')

In [3]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio
id,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0
1,20228,1,156,85.0,140,90,3,1,0,0,1,1
2,18857,1,165,64.0,130,70,3,1,0,0,0,1
3,17623,2,169,82.0,150,100,1,1,0,0,1,1
4,17474,1,156,56.0,100,60,1,1,0,0,0,0

In [4]:
df[df['gender'] == 1]['height'].mean(), \
df[df['gender'] == 2]['height'].mean()

(161.35561168460356, 169.94789538210054)

In [5]:
# 1 - ЖЕНЩИНЫ, 2 - МУЖЧИНЫ

In [6]:
df[df['gender'] == 1].shape[0], \
df[df['gender'] == 2].shape[0]

(45530, 24470)

In [7]:
# 45530 женщин и 24470 мужчин

In [8]:
df[(df['gender'] == 1) & (df['alco'] == 1)].shape[0], \
df[(df['gender'] == 2) & (df['alco'] == 1)].shape[0]

(1161, 2603)

In [9]:
# Женщины - 1161 < МужчинЫ - 2603

In [10]:
for gender, sub_df in df.groupby('gender'):
    print(gender)
    print(sub_df['smoke'].mean())

1
0.017856358445
2
0.218880261545

In [11]:
print(0.22/0.018)

12.222222222222223

In [12]:
# В 12 раз

In [13]:
for smoke, sub_df in df.groupby('smoke'):
    print(smoke)
    print(sub_df['age'].median())

0
19722.0
1
19125.0

In [14]:
print((19722 - 19125)/30)

19.9

In [15]:
# На 20 месяцев

In [16]:
df['age_years'] = round(df['age']/30/12)

In [17]:
sub = df[(df['age_years'] > 60) & (df['age_years'] <=64) & (df['gender'] == 2) & (df['smoke'] == 1)]

In [18]:
first = sub[(sub['ap_hi'] <= 120) & (sub['cholesterol'] == 1)]

In [19]:
second = sub[(sub['ap_hi'] >= 160) & (sub['ap_hi'] < 180) & (sub['cholesterol'] == 3)]

In [20]:
first[first['cardio'] == 1].shape[0]

63

In [21]:
second[second['cardio'] == 1].shape[0]

16

In [22]:
print(round(63/16))

4

In [23]:
# В 4 раза

In [24]:
df['BMI'] = df['weight']/((df['height']/100)**2)

In [25]:
df.head()

,age,gender,height,weight,ap_hi,ap_lo,cholesterol,gluc,smoke,alco,active,cardio,age_years,BMI
id,,,,,,,,,,,,,,
0,18393,2,168,62.0,110,80,1,1,0,0,1,0,51.0,21.967120
1,20228,1,156,85.0,140,90,3,1,0,0,1,1,56.0,34.927679
2,18857,1,165,64.0,130,70,3,1,0,0,0,1,52.0,23.507805
3,17623,2,169,82.0,150,100,1,1,0,0,1,1,49.0,28.710479
4,17474,1,156,56.0,100,60,1,1,0,0,0,0,49.0,23.011177

In [26]:
df[df['cardio'] == 0]['BMI'].mean(), \
df[df['cardio'] == 1]['BMI'].mean()

(26.5481752067945, 28.56606062701535)

In [27]:
df['BMI'].median()

26.374068120774975

In [28]:
df[df['gender'] == 1]['BMI'].mean(), \
df[df['gender'] == 2]['BMI'].mean()

(27.98758344183285, 26.754442357289356)

In [29]:
# У женщин в среднем BMI выше, чем у мужчин

In [30]:
df2 = df[(df['ap_hi'] >= df['ap_lo']) & (df['height'] > df['height'].quantile(0.025)) & (df['height'] < df['height'].quantile(0.975)) & (df['weight'] > df['weight'].quantile(0.025)) & (df['weight'] < df['weight'].quantile(0.975))]

In [34]:
df.shape[0], \
df2.shape[0]

(70000, 61204)

In [32]:
print(round((70000 - 61204)/70000*100))

13

In [33]:
# 13 процентов данных откинуто